doctype html

html
	head
		title="Create User - Cool user system"
	body
		include navbar.pug

		form(method="POST" action="createuserhandler") 
			input(type="text" name="firstName" value="First name") 
			br
			input(type="text" name="lastName" value="Last name")
			br
			input(type="text" name="email" value="email@domain.toplevel")
			br
			button(type="submit" value="search") Create user
			