link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
	
nav
	.nav-wrapper
		a.brand-logo(href='#') Cool user system
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href='/createuser') Create User
			li
				a(href='/searchuser') Search User
			li
				a(href='/showusers') Show Users
