doctype html

html
	head
		title="usercreate"
	body
		form(method="POST" action="searchuserhandler")
			input(type="text" name="firstName" value="search user")
			button(type="submit" value="search") create
			