doctype html

html
	head
		title="Create User - Cool user system"
	body
		
	include navbar.pug

	form(method="POST" action="searchuserhandler")
		input(type="text" name="firstName" value="search user")
		button(type="submit" value="search") Search
			